@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Computer Assignments System (CAS)</h1>
    <p class="lead">CAS is an application to manage assigning computers to users.</p>


</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Courses", "Index", "Courses")</h2>
        <p>Course information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Departments", "Index", "Departments")</h2>
        <p>Users Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Instrutors", "Index", "Instructors")</h2>
        <p>Assignment Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Registrations", "Index", "Registrations")</h2>
        <p>Assignment Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Students", "Index", "Students")</h2>
        <p>Assignment Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Study Terms", "Index", "StudyTerms")</h2>
        <p>Assignment Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("TA Assignments", "Index", "TAAssignments")</h2>
        <p>Assignment Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("TA Graders", "Index", "TAGraders")</h2>
        <p>Assignment Basic Information.</p>
    </div>

    <div class="col-md-4">
        <h2>@Html.ActionLink("Teaching Assignments", "Index", "TeachingAssignments")</h2>
        <p>Assignment Basic Information.</p>
    </div>



</div>